.App {
  background: #202124;  /* fallback for old browsers */
}

.card {
  max-width: 21.875rem;
  height: 25rem;
}
.card:hover {
  transform: scale(1.05);
}
.tallCard {
  width: 90%;
  height: auto;
}
.tallCardFlex {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

.navbar-link {
  text-decoration: none;
  color: #202124;
  font-size: large;
}